<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy</title>
 </head>
 <body>
  <h1>Puppy Name: <%= @value[:name] %></h1>
  <h2>Puppy Breed: <%= @value[:breed] %></h2>
  <h2>Puppy Age: <%= @value[:age] %></h2>
 </body>
</html>
